
<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 Layout</title>
		<style type="text/css">
			header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}
			body {
				color: #666666;
				background-color: #f9f8f6;
				background-position: center;
				font-family: Georgia, Times, serif;
				line-height: 1.4em;
				margin: 0px;}
			body {
					background-image: url("images/bkgrnd.png");
			}
			.wrapper {
				width: 1240px;
				margin: 15px auto 15px auto;
				border: 1.5px solid #000000;
				background-color: #ffffff;}
			header {
				margin-bottom: 10px;
				height: 160px;
				background-image: url("/ruby_projects/alpha-blog/app/assets/images/bkgrnd.png");}
			h1 {
				width: 940px;
				height: 130px;
				margin-top: 0px;
				text-align: center;
			}
			nav, footer {
				margin-top: 0px;
				clear: both;
				color: #ffffff;
				background-color: #aeaca8;
				height: 30px;}
			nav ul {
				margin-top: 5px;
				padding: 5px 0px 5px 30px;}
			nav li {
				display: inline;
				margin-right: 40px;}
			nav li a {
				color: #ffffff;}
			nav li a:hover, nav li a.current {
				color: #000000;}
			section.courses {
				float: left;
				margin-top: 25px;
				width: 950px;
				border-right: 1px solid #eeeeee;}
			article {
				margin-top:20px;
				clear: both;
				overflow: auto;
				width: 100%;}
			hgroup {
				margin-top: 40px;}
			figure {
				margin-top:20px;
				float: left;
				width: 290px;
				height: 180px;
				padding: 5px;
				margin: 20px;
				border: 1px solid #eeeeee;}
			figure-header {
				margin-top:20px;
				float: left;
				width: 1180px;
				height: 200px;
				padding: 5px;
				margin: 20px;
				border: 1px solid #eeeeee;}
			figcaption {
				font-size: 90%;
				text-align: left;}
			aside {
				margin-top: 10px;
				width: 230px;
				float: left;
				padding: 0px 0px 0px 20px;}
			aside section a {
				display: block;
				padding: 10px;
				border-bottom: 1px solid #eeeeee;}
			aside section a:hover {
				color: #985d6a;
				background-color: #efefef;}
			a {
				color: powder-blue;
				text-decoration: none;}
			h1 {
				margin-top: 10px;
			}
			h1, h2, h3 {
				font-weight: normal;}
			h2 {
				margin: 10px 0px 5px 0px;
				padding: 0px;}
			h3 {
				margin: 0px 0px 10px 0px;
				color: powder-blue;}
			aside h2 {
				padding: 30px 0px 10px 0px;
				color: powder-blue;}
			footer {
				font-size: 80%;
				padding: 7px 0px 0px 20px;}
		</style>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>Alpha Blog - Home Page</h1>
				
				<nav>
					<ul>
						<li><a href="" class="current">home</a></li>
						<li><a href="">uploads</a></li>
						<li><a href="">events</a></li>
						<li><%= link_to 'about', about_path %></li>
						<li><a href="">contact</a></li>
						<li><a href="">articles</a></li>
					</ul>
				</nav>
			</header>
			<section class="courses">
				<article>
					<figure>
						<figcaption>Bok Choi</figcaption>
					</figure>
					<hgroup>
						<h2>Title of Article</h2>
						<h3>Author of article</h3>
					</hgroup>
					<p>This will be where you describe the topic at hand.</p>
				</article>    
				<article>
					<figure>
						<%= image_tag 'iecelogo.JPG', :size => "290x150"%>
						<figcaption>Events</figcaption>
					</figure>
					<hgroup>
						<h2>Second article or event</h2>
						<h3>date or author</h3>
					</hgroup>
					<p>A important quote or interesting sentence calling the reader</p>
				</article>  
				<article>
					<figure>
						<!--<%= image_tag 'iecelogo.JPG'%>-->
						<figcaption> Other Events</figcaption>
					</figure>
					<hgroup>
						<h2>Third article/video etc</h2>
						<h3>Maybe some kind of workshops</h3>
					</hgroup>
					<p>We can even teach to play an instrument or do something like that</p>
				</article>  
			</section>
			<aside>
				<section class="Popular Essays">
					<h2>Popular Texts</h2>
					<a href="">The purpose of life</a>
					<a href="">God and your life</a>
					<a href="">God and the evolving technology</a>
					<a href="">The youth pleasing God in all places</a>
					<a href="">Living with purpose</a>
				</section>
				<section class="contact-details">
				</section>
			</aside>
			<footer>
				&copy; iece
			</footer>
		</div><!-- .wrapper -->
	</body>
</html>

